.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

h1 {
    text-transform: capitalize;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
}

.back-button {
    height: max-content;
    font-size: 24px;
    text-decoration: none;
}
