.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

h1 {
    text-transform: capitalize;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
}

.back-button {
    font-size: 32px;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    will-change: filter;
    filter: brightness(150%);
}

.back-button:hover {
    cursor: pointer;
    filter: brightness(250%);
}