.switch-button {
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 1px solid gray;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  padding: 1.2em;
}

.switch-button img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.switch-button:hover {
  border: 1px solid white;
}

.switch-button:hover img {
  transform: rotate(180deg);
}

@media(max-width: 600px) {
  .switch-button img {
    transform: rotate(90deg);
  }
  .switch-button:hover img {
    transform: rotate(270deg);
  }
}